# EditorConfig is awesome: https://editorconfig.org
root = true

# Global defaults
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

# Python files use 4 spaces
[*.py]
indent_size = 4

# Makefiles must use tabs (GNU standard)
[Makefile]
indent_style = tab
